---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[500px] max-w-full">
          <div class="my-18 sm:my-8 invisible text-center">
<!--            <a href="#">-->
<!--              <img src="https://res.cloudinary.com/believe/image/upload/v1729352152/flota/assets/zxamfzomvhpi3q32bgr7.png" width="70" alt="Maizzle">-->
<!--            </a>-->
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <div class="mb-4 sm:my-8 text-start">
                  <a href="https://3xg.africa/">
                    <img src="https://res.cloudinary.com/believe/image/upload/v1739288962/3xg/logo.png" width="50" alt="Maizzle">
                  </a>
                </div>
                <h1 class="m-0 mb-6 text-sm sm:leading-8 text-black font-semibold">
                  Hello, Believe
                </h1>

                <h1 class="m-0 mb-6 text-[30px] md:text-[40px]  text-black  font-bold">
                  Confirm Verification Code
                </h1>

                <p class="m-0 text-sm leading-6 text-gray-700">
                  This is your verification code:
                </p>

                <x-spacer height="24px" />

                <p class="m-0 leading-6 text-sm text-gray-800">
                <table align="" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      0
                    </td>
                    <td width="8">&nbsp;</td>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      4
                    </td>
                    <td width="8">&nbsp;</td>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      7
                    </td>
                    <td width="8">&nbsp;</td>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      3
                    </td>
                    <td width="8">&nbsp;</td>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      9
                    </td>
                    <td width="8">&nbsp;</td>
                    <td style=" text-align: center; font-weight: bold; font-size: 28px; ">
                      0
                    </td>
                    <td width="8">&nbsp;</td>
                  </tr>
                </table>
                </p>

                <x-divider space-y="24px" class="bg-slate-200" />

                <p class="m-0 leading-6 text-sm text-gray-800">
                  To verify your email and secure your account, please enter the following 6-digit code in the verification field.
                  This code will expire in 20 minutes. If you didn’t request this, please ignore this email.
                  <br>
                  <br>

<!--                  Welcome to Flota! We’re excited to have you on board.-->
                </p>

                <x-spacer height="14px" />

                <x-button  href="{{verifyUrl}}">
                  Click here to verify
                </x-button>

                <x-spacer height="24px" />

                <p class="m-0 leading-6 font-bold text-sm text-black">
<!--                  Ready to hit the road with Flota? 🚗💨 <br>-->
                  We’re here to help your business grow—faster and smarter!
                </p>
                <p class="m-0 text-sm">
                  Best Regards, <br />The 3xG Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <!--                <p class="m-0 mb-4 uppercase">-->
                <!--                  Powered by Maizzle-->
                <!--                </p>-->

                <!--                <p class="m-0 italic">-->
                <!--                  Quickly build HTML emails with Tailwind CSS-->
                <!--                </p>-->

                <!--                <p class="cursor-default">-->
                <!--                  <a href="#/docs/" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Docs</a>-->
                <!--                  &bull;-->
                <!--                  <a href="https://github.com/maizzle" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Github</a>-->
                <!--                  &bull;-->
                <!--                  <a href="https://twitter.com/maizzlejs" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Twitter</a>-->
                <!--                </p>-->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
