---
title: "Reset your password"
preheader: "Password Reset."
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[500px] max-w-full">
          <div class="my-12 sm:my-8 invisible text-center">
<!--            <a href="#">-->
<!--              <img src="https://res.cloudinary.com/believe/image/upload/v1729352152/flota/assets/zxamfzomvhpi3q32bgr7.png" width="70" alt="Maizzle">-->
<!--            </a>-->
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <div class="mb-4 sm:my-8 text-start">
                  <a href="https://useflota.com">
                    <img src="https://res.cloudinary.com/believe/image/upload/v1730030162/flota/assets/Asset_1flota.png" width="50" alt="Maizzle">
                  </a>
                </div>
                <h1 class="m-0 mb-6 text-sm sm:leading-8 text-black font-semibold">
                  Hello, Believe
                </h1>

                <h1 class="m-0 mb-6 text-[40px] sm:leading-8 text-black font-bold">
                  Reset Password
                </h1>

                <x-spacer height="1px" />

                <p class="m-0 leading-6 text-sm text-gray-800">
                  If you are then please do so. But if you have not requested this password request there is a possiblity someone else has done so.
                  We recommend you change your password every now and then.
                </p>

                <x-spacer height="24px" />

                <x-button  href="#">
                  Reset Password
                </x-button>

                <x-spacer height="24px" />

                <p class="m-0 leading-6 font-bold text-sm text-black">
                  Ready to hit the road with Flota? 🚗💨 <br>
                  We’re here to help your business grow—faster and smarter!
                </p>
                <p class="m-0 text-sm">
                  Best Regards, <br />The Flota Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <!--                <p class="m-0 mb-4 uppercase">-->
                <!--                  Powered by Maizzle-->
                <!--                </p>-->

                <!--                <p class="m-0 italic">-->
                <!--                  Quickly build HTML emails with Tailwind CSS-->
                <!--                </p>-->

                <!--                <p class="cursor-default">-->
                <!--                  <a href="#/docs/" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Docs</a>-->
                <!--                  &bull;-->
                <!--                  <a href="https://github.com/maizzle" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Github</a>-->
                <!--                  &bull;-->
                <!--                  <a href="https://twitter.com/maizzlejs" class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">Twitter</a>-->
                <!--                </p>-->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
